*.mod
*.so
*.o
*.a
*.msg
config.mk
config/config.mk
src/build/libgeograd-f2pywrappers2.f90
src/build/libgeogradmodule.c
src_cs/*.F90
src_cs/build/libgeograd_complex-f2pywrappers2.f90
src_cs/build/libgeograd_complexmodule.c
paper.*
*.bib
!eecs587.bib
!paper.tex
*.pyc
geograd.egg-info/*
